.MessagesSection {
  height: 90%;
  min-height: 70vh;
  max-height: 70vh;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.MessagesSection::-webkit-scrollbar {
  display: none;
}

.Timestamp {
  text-align: center;
  color: #333333;
  font-size: 15px;
}

.MessagesContainer {
  display: flex;
  flex-direction: column;
}
