h1,
p,
span {
  font-family: 'Open Sans', sans-serif;
}

.btn {
  margin: 5px;
}

.mainSection {
  margin-top: 5%;
}

.alert-secondary {
  text-align: center;
  position: sticky;
  top: 0;
}

label {
  color: #212529 !important;
}

.form-container {
  padding-left: 20px;
  padding-right: 10px;
}

.react-datepicker-wrapper {
  display: block !important;
}

tr.borderless {
  border: none !important;
}

.form-group {
  margin-bottom: 0.5rem !important;
}
