.btn {
  margin: 5px;
}

.mainSection {
  margin-top: 5%;
}

.alert-secondary {
  text-align: center;
  position: sticky;
  top: 0;
}

label {
  color: #000000 !important;
}

.form-container {
  padding-left: 20px;
  padding-right: 10px;
}

.react-datepicker-wrapper {
  display: block !important;
}

tr.borderless {
  border: none !important;
}

.form-group {
  margin-bottom: 0.3rem !important;
}

.rating-container {
  margin-left: 17px;
  height: 50px;
  padding-bottom: 20%;
}

.feedback {
  padding-top: 5%;
  margin-left: 3px;
  font-family: 'Montserrat';
}

div.rating-container span span span:nth-child(2) span {
  background-color: #005787 !important;
}
